.page {
    background-image: url(./Image/YouTube\ Clone.gif);
    height: 115vh;
    background-size: cover;
    padding-top: 30px;
}

footer nav {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: monospace;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer h3 {
    text-align: center;
    padding-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 5px;
    border-bottom: 4px solid #ededed;
    margin-left: auto;
    margin-right: auto;
}

footer nav i a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 4px;
}

footer i {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

footer #copy i {
    transition: .5s;
}

footer #copy :hover {
    color: red;
}

main {
    overflow: hidden;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#copy i {
    text-align: center;
    font-weight: bold;
    font-style: bold;
    padding: 5px;
    width: 100%;
    background-color: #000;
    color: whitesmoke;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

#copy i span {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    color: white;
}

#artical1 {
    height: 100%;
    padding-top: 300px;
}

#artical2 {
    height: 100%;
}

#artical3 {
    height: 100%;
}

.cont {
    background-image: linear-gradient(rgb(0, 89, 255), rgb(0, 119, 255), rgb(0, 183, 255), rgb(68, 186, 233), cyan);
}

body {
    overflow-x: hidden;
}

#artical1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;
}

#artical1 nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    /* right: 0; */
    /* align-items: center; */
}

#artical1 nav a {
    padding: 10px;
    background-color: #fff;
    margin: 20px;
    width: 170px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .5s;
}

#artical1 nav a:hover {
    background-color: rgba(255, 255, 255, 0.815);
}

#artical1 h2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 6px;
    border-bottom: 3px solid #fff;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#artical1 p {
    color: rgba(0, 0, 0, 0.856);
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

#artical2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;
}

#artical2 nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    /* right: 0; */
    /* align-items: center; */
}

#artical2 nav a {
    padding: 10px;
    background-color: #fff;
    margin: 20px;
    width: 170px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .5s;
}

#artical2 nav a:hover {
    background-color: rgba(255, 255, 255, 0.815);
}

#artical2 h2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 6px;
    border-bottom: 3px solid #fff;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#artical2 p {
    color: rgba(0, 0, 0, 0.856);
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-height:830px) {
    .page {
        background: url(./Image/httpsaakashkavediya.github.ioMr.codr-Project.gif) no-repeat;
        height: 70vh;
        background-size: 100%;
        padding-top: 30px;
    }
    #artical1 nav a {
        font-size: 15px;
        /* padding-left: 3px; */
        /* padding-right: 3px; */
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    #artical2 nav a {
        font-size: 15px;
        /* padding-left: 3px; */
        /* padding-right: 3px; */
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    #artical3 nav a {
        font-size: 15px;
        /* padding-left: 3px; */
        /* padding-right: 3px; */
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    footer nav {
        display: flex;
        flex-direction: column;
        /* margin-right: auto; */
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}